body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('kenrick-mills-1h2Pg97SXfA-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#app{

    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: white;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.holder{
    padding-bottom:10vh ;
}
label{
    padding-bottom: 2vh;
}
.entry{
    background: rgba(59, 74, 107, .4);
    bottom: 80vh;
    left: 50vw;
    position: relative;
    padding: 3vh;
    width: 45vw;
    height: 25vh;
    padding-bottom: 0;
}
#generate{
    position: relative;
    bottom: 10vh;
    left: 10vw;
}
#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:transparent;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 3px 5px  #444;
}

button{
    width: 400px;
    height: 100px;
    background: transparent;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 3px 5px  #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:transparent;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 3px 5px  #444
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 